/*Eventful Styles*/
.eventful-container,
.eventful-container *,
.eventful-container *:before,
.eventful-container *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.eventful-container {
  width: 400px;
  position: fixed;
  transition: all 1s;
  -webkit-transition: all 1s;
  top: 50px;
}
.eventful-container.right {
  right: -400px;
}
.eventful-container.left {
  left: -400px;
}
.eventful-container.bottom {
  position: fixed;
  bottom: -300px;
  height: 300px;
  left: 25%;
  width: 50%;
}
.eventful-container.right.shown {
  right: 0;
}
.eventful-container.left.shown {
  left: 0;
}
.eventful-container.bottom.shown {
  bottom: 0;
}

.eventful-content-wrapper {
  background: #eee;
  border: 1px solid #b1d;
  padding: 0;
}

.eventful-toggle-tab {
  display: block;
  width: 80px;
  height: 60px;
  padding: 10px;
  position: absolute;
  text-align: center;
  background: #b1d;
  transition: background-color 1s;
  -webkit-transition: background-color 1s;
  border: 1px solid #b1d;
}
.right .eventful-toggle-tab {
  left: -80px;
  border-right: 0;
}

.left .eventful-toggle-tab {
  right: -80px;
  border-left: 0;
}

.bottom .eventful-toggle-tab {
  top: -60px;
  width: 100%;
  height: 60px;
  left: 0;
  border-bottom: 0;
}
.eventful-toggle-tab a {
  color: white;
  text-decoration: none;
  transition: color 1s;
  -webkit-transition: color 1s;
}
.shown .eventful-toggle-tab {
  background: white;
}
.shown .eventful-toggle-tab a {
  color: #b1d;
}
.eventful-content-wrapper {
  clear: both;
}
.eventful-content-wrapper:after {
  clear: both;
  display: table;
  content: "";
}
.section {
  width: 98%;
  padding: 5px;
  margin: 1%;
  float: left;
}
.section.hidden {
  display: none;
}
.section h2 {
  margin-top: 0;
}

.eventful-navigation {
  list-style-type: none;
  padding: 0;
}
.eventful-navigation:after {
  content: '';
  clear: both;
  display: table;
}
.eventful-navigation li {
  float: left;
  margin: 0 5px;
  background-color: transparent;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.tracker #tracker-link,
.options #options-link,
.add #add-link {
  background: #fff;
}

.eventful-navigation li a {
  display: inline-block;
  padding: 10px;
  color: #b1d;
  font-weight: bold;
  cursor: pointer;
}

button {
  border: none;
  background: #fff;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
}

button:hover {
  border-color: #aaa;
}

button[content="Test"] {
  position: absolute;
  top: 10px;
  right: 10px;
}

#test-elements {
  border: 1px solid #b1d;
  margin: 10px 0;
  padding: 10px;
}


.example-enter {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
.example-enter.example-enter-active {
	visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
.example-leave.example-leave-active {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.event-marker {
  background: red;
  width: 2px;
  height: 2px;
  position: absolute;
}
