/*Eventful Styles*/

.eventful-container {
  width: 400px;
  padding: 20px;
  position: fixed;
  right: -442px;
  transition: right 1s;
  -webkit-transition: right 1s;
  background: #eee;
  border: 1px solid #b1d;
}
.eventful-container.shown {
  right: 0;
}
.eventfulToggleTab {
  display: block;
  width: 60px;
  height: 40px;
  padding: 10px;
  position: absolute;
  left: -82px;
  line-height: 40px;
  text-align: center;
  background: #b1d;
  transition: background-color 1s;
  -webkit-transition: background-color 1s;
  border: 1px solid #b1d;
}
.eventfulToggleTab a {
  color: white;
  text-decoration: none;
  transition: color 1s;
  -webkit-transition: color 1s;
}
.shown .eventfulToggleTab {
  background: white;
}
.shown .eventfulToggleTab a {
  color: #b1d;
}